<template>
<nav>
  <router-link :to="props.url">
    <img src="@/assets/images/logos/fedora-logo.webp" alt="Fedora Logo">
    <span>{{ props.text }}</span>
  </router-link>
  <div>
    <slot></slot>
  </div>
</nav>
</template>
<script setup>

const props = defineProps({
  url: {
    type: String
  },
  text: {
    type: String
  }

})

</script>