<template>
<!-- link using props-->
<a :href="props.url">
  <!-- text-->
  <slot></slot>
  <!-- arrow -->
  <font-awesome-icon icon="fa-solid fa-arrow-right" />
</a>
</template>
<script setup>
const props = defineProps({
  url: {
    type: String
  }
})
</script>