<template>
  <!-- to keep everything wrapped together -->
  <div>
    <!-- List Title -->
    <div class="d-flex justify-content-between">
      <h4 class="text-dark">{{ props.list[0]}}</h4>
      <!-- Need to pass the data-bs-target in the parent -->
      <span class="d-block d-md-none fs-2" role="button" data-bs-toggle="collapse"
        :data-bs-target="toggleTarget">+</span>
    </div>
    <div class="collapse navbar-collapse" :id="props.target">
      <ul class="list-unstyled">
        <li v-for=" link in props.list[1]" :key="link.id" class="my-1 my-md-3">
          <a :href="link.url" class="text-decoration-none text-dark">{{
              link.title
          }}</a>
        </li>
        <!-- TODO: Make named slot to allow for additions-->
        <slot></slot>
      </ul>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue'

const props = defineProps({
  list: {
    type: Array,
    required: true,
  },
  target: {
    type: String,
    default: "Stuff"
  }
})

const toggleTarget = ref(`#${props.target}`)

</script>

