<template>
  <footer class="container-fluid bg-light mt-4 pt-4">
    <section class="col py-4">
      <p class="text-center">
        Need help? Talk to us on
        <a href="#" class="text-decoration-none">our help forum.</a>
      </p>
      <!-- Example single danger button -->
    </section>

    <!-- Hero Footer -->
    <nav class="container navbar-expand-md">
      <div class="row d-flex justify-content-between">
        <!-- Column 1 -->
        <section class="col-12 col-md-2">
          <AppFooterList :list="desktopLinks" target="desktop" />
        </section>
        <!-- Column 2 -->
        <section class="col-12 col-md-3">
          <AppFooterList :list="serverLinks" target="server" />
          <AppFooterList :list="iotLinks" target="iot" />
        </section>
        <!-- Column 3 -->
        <section class="col-12 col-md-2">
          <AppFooterList :list="userSupportLinks" target="support" />
        </section>
        <!-- Column 4 -->
        <section class="col-12 col-md-2">
          <AppFooterList :list="communityLinks" target="community" />
        </section>
      </div>
    </nav>

    <section class="container">
      <div class="row d-flex justify-content-xs-center justify-content-md-start">
        <div class="col-4 col-md-2">
          <img src="@/assets/images/logos/fedora-logo.webp" alt="Fedora Logo" class="img-fluid w-100" />
        </div>
        <div class="col-xs-11 col-md-8 d-flex">
          <ul class="list-unstyled list-group list-group-horizontal align-items-md-center gap-2 d-flex mt-2 mt-md-0">
            <li v-for="link in docsLinks[1]" :key="link.id">
              <a :href="link.url" class="text-muted">{{ link.title }}</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- Sponsorship Info -->
    <section class="row justify-content-center align-items-center d-flex flex-wrap bg-dark text-white mt-4 py-4">
      <div class="col-4 col-sm-3 col-md-2 col-lg-1 d-flex justify-content-center justify-content-md-end mt-2">
        <img src="@/assets/images/logos/red-hat-sponsor-logo.webp" alt="Red Hat Logo" class="img-fluid" />
      </div>
      <div class="col-10 col-md-6 text-center text-md-start mt-0 mt-sm-2">
        <p class="mb-0 mt-4 mt-md-0 mw-75">
          Fedora is sponsored by Red Hat.
          <a href="https://www.redhat.com/en/technologies/linux-platforms/articles/relationship-between-fedora-and-rhel"
            class="text-decoration-none text-secondary">
            Learn more about the relationship between Red Hat and Fedora
          </a>
        </p>
      </div>
    </section>
  </footer>
</template>

<script setup>
import TheFooterNav from "./TheFooterNav.vue"
import TheFooterNavGroup from "./TheFooterNavGroup.vue";

const desktopLinks = [
  'Desktops',
  [
    {
      title: "Fedora Workstation",
      url: "https://getfedora.org",
    },
    {
      title: "Fedora Silverblue",
      url: "https://silverblue.fedoraproject.org/",
    },
    {
      title: "Fedora KDE Plasma",
      url: "https://spins.fedoraproject.org/kde/",
    },
    {
      title: "Fedora Kinoite",
      url: "https://kinoite.fedoraproject.org/",
    }
  ]
]
const serverLinks = [
  "Server / Cloud",
  [
    {
      title: "Fedora Server",
      url: "https://getfedora.org/server",
    },
    {
      title: "Fedora CoreOs",
      url: "https://getfedora.org/coreos",
    },
    {
      title: "Fedora Cloud Base Images",
      url: "https://alt.fedoraproject.org/cloud/",
    },
    {
      title: "Fedora Container Images",
      url: "https://hub.docker.com/_/fedora",
    },
  ]
]
const iotLinks = [
  "IoT / Edge Development",
  [
    {
      title: "Fedora IoT",
      url: "https://getfedora.org/iot/",
    },
    {
      title: "Fedora ARM Downloads",
      url: "https://arm.fedoraproject.org/",
    }
  ]
]
const userSupportLinks = [
  "User Support",
  [
    {
      title: "Fedora Help Forum",
      url: "https://ask.fedoraproject.org/",
    },
    {
      title: "Common Bugs",
      url: "https://fedoraproject.org/wiki/Common_F35_bugs",
    },
    {
      title: "Fedora Magazine",
      url: "https://fedoramagazine.org/",
    },
    {
      title: "Fedora Developer",
      url: "https://developer.fedoraproject.org/",
    }
  ]
]
const communityLinks = [
  "Community",
  [
    {
      title: "Join Fedora",
      url: "https://docs.fedoraproject.org/en-US/project/join/",
    },
    {
      title: "Community Blog",
      url: "https://communityblog.fedoraproject.org/",
    },
    {
      // TODO -- Change URL
      title: "Matrix Chat Server",
      url: "https://matrix.org/clients/",
    },
    {
      title: "Discussion Board",
      url: "https://matrix.org/clients/",
    },
    {
      title: "Fedora Account System",
      url: "https://accounts.fedoraproject.org/",
    }
  ]
]

// 5 Privacy Links
const docsLinks = [
  "Docs Links",
  [
    {
      title: "Privacy Statement",
      url: "https://fedoraproject.org/wiki/Legal:PrivacyPolicy",
    },
    {
      title: "Legal",
      url: "https://fedoraproject.org/wiki/Legal:Main",
    },
    {
      title: "Code of Conduct",
      url: "https://docs.fedoraproject.org/en-US/project/code-of-conduct/",
    },
    {
      title: "Sponsors",
      url: "https://getfedora.org/sponsors/",
    },
  ],
]

</script>

